<manifest
    package="org.wlf.filedownloader_demo2"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <!-- network permissions -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- write file permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".FileDownloadApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".custom_model.CustomModelActivity"
            android:label="@string/custom_model__title_name">
        </activity>
        <activity
            android:name=".advanced_use.AdvancedUseActivity"
            android:label="@string/advanced_use__title_name">
        </activity>
    </application>

</manifest>
